 .input-group{
    width: 85%
  }
  .search{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    /* align-items: stretch; */
  }
  .bi-list{
     font-size: 22px;
        padding: 5px;
  }