

.avatars {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.avatar {
  width: 25px;
  height: 25px;
  background-color: var(--sidebar-background);
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.avatar.extra {
  background-color: #007bff;
  color: white;
}
