.login-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
}
.login-description{
    font-size: 24px;
    font-weight: 500;
   
}
.login-details{
    font-size: 14px;
    color: var(--sidebar-font)
}