.sidebar {
  width: 300px;
  background: var(--sidebar-background);
  height: 100%;
  padding: 2rem 1.5rem;
  flex-shrink: 0;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar .brand {
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--heading-color);
}

.nav-link {
  font-size: 1rem;
  text-decoration: none;
  color: var(--sidebar-font-color)
}

.nav-link:hover,
.nav-link.active {
  font-weight: bold;
  color: var(--sidebar-link);
}
.logout-link:hover{
color: #f84949
}

@media (max-width: 768px) {
  .sidebar {
    width: auto;
    position: fixed;
    opacity: 1;
    z-index: 999;
  }

  .sidebar .brand{
    text-align: end;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
